FOMO_ROOT="/path/to/fomo"
FOMO_DATA_ROOT="/path/to/FOMO26/data"
ASPARAGUS_SOURCE="/path/to/FOMO26/data/downstream"
ASPARAGUS_CONFIGS="/path/to/fomo/asparagus/configs"
ASPARAGUS_DATA="/path/to/FOMO26/asparagus_processed"
ASPARAGUS_MODELS="/path/to/FOMO26/asparagus_models"
ASPARAGUS_RESULTS="/path/to/FOMO26/asparagus_results"
ASPARAGUS_RAW_LABELS="/path/to/FOMO26/asparagus_raw_labels"
